/** Import Google Fonts **/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

/** Set global variables **/
:root{
    --main-color: #80411e; /* main color used throughout the site */
    --border-radius:95% 4% 97% 5%/4% 94% 3% 95%; /* border radius for buttons */
    --border-radius-hover:4% 95% 6% 95%/95% 4% 92% 5%; /* border radius for buttons on hover */
    --border:.2rem solid var(--main-color); /* border style for buttons */
    --border-hover:.2rem dashed var(--main-color); /* border style for buttons on hover */
}

/** Reset all elements to default styles **/
*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

/** Set base font size and other HTML styles **/
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

/** Set padding for all sections **/
section{
    padding:2rem 9%;
}

/** Style for the main heading **/
.heading{
    font-size: 9rem;
    text-transform: uppercase;
    color:transparent;
    -webkit-text-stroke: .05rem var(--main-color);
    letter-spacing: .2rem;
    text-align: center;
    pointer-events: none;
    position: relative;
}

/** Style for the main heading **/
.heading-description {
    text-align: center;
    padding: 1.3rem 0;
    font-size: 1.6rem;
    font-weight: 300;
    color: #80411e;
}

/** Add a span to the main heading to display subtext **/
.heading span{
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color:var(--main-color);
    font-size: 3rem;
}

/** Style for all buttons **/
.btn{
    display: inline-block;
    padding:.9rem 1.5rem;
    border-radius: var(--border-radius);
    color:var(--main-color);
    background: none;
    border:var(--border);
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.7rem;
}

/** Style for buttons on hover **/
.btn:hover{
    border-radius: var(--border-radius-hover);
    border:var(--border-hover);
    background-color: #e4bc84;
}

/** Style for login-button on hover **/
.header #login-btn{
    font-size: 2.8rem;
    color: var(--main-color);
    cursor: pointer;
    padding: 10px 15px;
}

/** Style for login-button on hover **/
.header  #login-btn:hover{
    color: #e4bc84;
}


/*--------------------------------------LOGIN FORM STYLING----------------------------------------------*/


/** Style for login-form container **/
.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.9);
    position: fixed;
    top: 0;
    right:-105%;
    z-index: 10000;
    height: 100%;
    width: 100%;
}
.login-form-container.active{
    right: 0;
}
.login-form-container form{
    background: #e4bc84;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 2rem;
}

/** Style for login-form heading **/
.login-form-container form h3{
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-color);
}

/** Style for login-form label **/
.login-form-container form label{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
    color: var(--main-color);;
}

/** Style for login-form input **/
.login-form-container form .input-box{
    width: 100%;
    margin: 0.7rem 0;
    font-size: 1.6rem;
    border: 2px solid var(--main-color);;
    border-radius: 0.5rem;
    padding: 1rem 1.2rem;
    text-transform: none;
}

/** Style for login-form checkbox **/
.login-form-container form .check-box{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-top: 1rem;
}

/** Style for login-form label **/
.login-form-container form .check-box label{
    font-size: 1.5rem;
    color: var(--main-color);;
    cursor: pointer;
    margin-top: -2%;
}

/** Style for login-form buttons **/
.login-form-container form .fbtn{
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
}
.fbtn{
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 3rem;
    border-radius: 0.5rem;
    color: #fff;
    background: var(--main-color);;
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
    
}
/** Style for login-form button hover **/
.fbtn:hover{
    background-color: #e4bc84;
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

/** Style for login-form paragraph **/
.login-form-container form p{
    padding-top: 0.8rem;
    color: var(--main-color);
    font-size: 1.5rem;
}

/** Style for login-form anchor**/
.login-form-container form p a{
    text-decoration: underline;
    color: #e4bc84;
}

/** Style for login-form close button **/
.login-form-container #close-login-btn{
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    cursor: pointer;
    color: var(--main-color);
}

/** Style for login-form close button hover **/
.login-form-container #close-login-btn:hover{
    color: #e4bc84;
}




/*-----------------------------------------HEADER STYLING-----------------------------------------------*/



/** Style for the header **/
.header{
    position: fixed;
    top:0; left: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding:2rem 9%;
}

/** Style for the logo in the header **/
.header .logo{
    color:var(--main-color);
    font-size: 2.3rem;
}

/** Style for the icon in the logo in the header **/
.header .logo i{
    padding-left: .5rem;
    
}

/** Style for links in the navbar **/
.header .navbar a{
    margin:0 1rem;
    font-size: 1.7rem;
    color: var(--main-color);
}

/* This styles the navbar link when hovered over */
.navbar a:hover{
    border-bottom: 2px solid var(--main-color);
}

/* This styles the header button */
.header .btn{
    margin-top: 0;
}

/* This styles the menu button */
#menu-btn{
    font-size: 3rem;
    color: var(--main-color);
    cursor: pointer;
    display: none;
}


/*---------------------------------MAIN HOME SECTION STYLING-----------------------------------------*/


/* This styles the main home */
.home{
    min-height: 100vh;
    padding-top: 12rem;
    background: url(./image/bg2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

/* This styles the main home section */
.home .home-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

/* This styles the main home content */
.home .home-container .content{
    flex:1 1 42rem;
}
/* This styles the main home content heading */
.home .home-container .content h3{
    font-size: 6.5rem;
    color:var(--main-color);
    text-transform: uppercase;
}

/* This styles the main home big image */
.home .home-container .big-image{
    flex:1 1 42rem;
    padding-top: 10rem;
    text-align: center;
}
.home .home-container .big-image img{
    height:40rem;
    animation: float 4s linear infinite;
}
@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-7rem);
    }
}

/* This styles main home small image */
.home .small-image{
    text-align: center;
    padding:3rem 0;
}
.home .small-image img{
    height:9rem;
    margin:0 .5rem;
    cursor: pointer;
    margin-top: 5rem;
}
.home .small-image img:hover{
    transform: translateY(-2rem);
}


/*----------------------------- HISTORY SECTION STYLING-----------------------------------------*/


/* This styles the history section */
.history .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 2rem;
    padding: 2.5rem 0;
    grid-row-gap: 4rem;
    
}

/* This styles the history section boxes */
.history .container .history-box {
    background: var(--white);
    height: auto;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(179, 179, 179, 0.2);
    padding-bottom: 3rem;
    border-radius: 10px;
}

/* This styles the history section boxes images */
.history .container .history-box img {
    width: 100%;
    height: 65%;
    border-radius: 10px;
}

/* This styles the history section boxes content */
.history .container .history-box .history-content {
    padding: 1.5rem;
}

/* This styles the history section boxes content heading */
.history .container .history-box .history-content h3 {
    font-size: 2.5rem;
    padding: 1.3rem 0;
}

/* This styles the history section content paragraph */
.history .container .history-box .history-content p {
    font-size: 1.6rem;
    padding: 1.3rem 0;
    font-weight: 400;
    color: var(--black);
}

/* This styles the history section boxes hover */
.history .container .history-box:hover {
    transform: translateY(-1rem);
}



/*---------------------------------GALLERY PAGE STYLING-----------------------------------------*/


/* Styling for the gallery section */
.gallery{
    padding-top: 12rem;
}

/* Styling for the container that holds the gallery boxes */
.gallery .gallery-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax 30rem, 1fr;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    padding-bottom: 2rem;
  }
  
  /* Styling for individual gallery boxes */
  .gallery .gallery-container .gallery-box {
    overflow: hidden;
    position: relative;
    height: 25rem;
  }
  
  /* Styling for hovered gallery boxes */
  .gallery .gallery-container .gallery-box:hover {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid var(--main-color);
  }
/* This is a CSS code for creating a gallery of images with a hover effect */
.gallery{
    padding-top: 12rem;
}

/* Creates a grid container for the gallery */
.gallery .gallery-container {
    display: -ms-grid;
    display: grid;
    /* Creates grid columns with a minimum width of 30rem and a maximum width of 1fr, auto-fitting as necessary */
    -ms-grid-columns: minmax 30rem, 1fr;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    padding-bottom: 2rem;
  }

  /* Defines the box element of the gallery */
  .gallery .gallery-container .gallery-box {
    overflow: hidden;
    position: relative;
    height: 25rem;
  }
  
  /* Hover effect for the image in the box */
  .gallery .gallery-container .gallery-box:hover img {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  
  /* Hover effect for the content in the box */
  .gallery .gallery-container .gallery-box:hover .content {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  
  /* Styling for the image in the box */
  .gallery .gallery-container .gallery-box img {
    height: 100%;
    width: 100%;
    /* Makes sure the image covers the entire box */
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  /* Styling for the content in the box */
  .gallery .gallery-container .gallery-box .content {
    position: absolute;
    top: 0;
    left: 0;
    /* Background color for the content */
    background: #e4bc84;
    text-align: center;
    padding: 3rem 2rem;
    height: 100%;
    width: 100%;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    padding-top: 4rem;
  }
  
  /* Styling for the heading in the content */
  .gallery .gallery-container .gallery-box .content h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--main-color);
  }

  /* Styling for the heading in the content */
  .gallery .gallery-container .gallery-box .content span{
    font-size: 2rem;
    color:var(--main-color);
    line-height: 1.8;
}
  
  /* Styling for the paragraph in the content */
  .gallery .gallery-container .gallery-box .content p {
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 2;
    color: var(--main-color);
    margin-bottom: 0;
  }

/*----------------------------GALLERY PAGE MENU SECTION STYLING-----------------------------------------*/

/* Styling for menu section */
  .menu .menu-container{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    justify-content: center;
}

/* Styling for menu section boxes */
.menu .menu-container .menu-box{
    flex:1 1 42rem;
    padding:2rem;
    border:var(--border);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    gap:1.5rem;
    margin-left: 6rem;
}

/* Styling for menu section boxes hover */
.menu .menu-container .menu-box:hover{
    border:var(--border-hover);
    border-radius: var(--border-radius-hover);
}

/* Styling for menu section boxes images */
.menu .menu-container .menu-box img{
    height: 8rem;
    margin-left: -6rem;
}

/* Styling for menu section boxes content heading */
.menu .menu-container .menu-box .content h3{
    font-size: 2.2rem;
    color:var(--main-color);
    line-height: 1.8;
}

/* Styling for menu section boxes content paragraph */
.menu .menu-container .menu-box .content p{
    font-size: 1.6rem;
    color:var(--main-color);
    line-height: 1.8;
    padding:1rem 0;
}

/* Styling for menu section boxes span */
.menu .menu-container .menu-box .content span{
    font-size: 2rem;
    color:var(--main-color);
    line-height: 1.8;
}


/*---------------------------------ABOUT US PAGE STYLING-----------------------------------------*/


/* This styles the about section */
.about{
    padding-top: 12rem;
}

/* This styles the about section */
.about .about-box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

/* Styling for the about section */
.about .about-box .image{
    flex:1 1 42rem;
}

/* Styling for the image within the about section */
.about .about-box .image img{
    width: 100%;
    animation:aboutImage 4s linear infinite;
}

/* Animation keyframes for the about image */
@keyframes aboutImage {
    0%, 100%{
        /* Starting and ending state of the image animation */
        transform: scale(.9);
        border-radius: var(--border-radius-hover);
    }
    50%{
        /* Intermediate state of the image animation */
        transform: scale(.8);
        border-radius: var(--border-radius);
    }
}

/* Styling for the content within the about section */
.about .about-box .content{
    flex:1 1 42rem;
}

/* Styling for the title within the content of the about section */
.about .about-box .content .title{
    color:var(--main-color);
    font-size: 3rem;
    line-height: 1.8;
}

/* Styling for the paragraphs within the content of the about section */
.about .about-box .content p{
    color:var(--main-color);
    font-size: 1.5rem;
    line-height: 1.8;
    padding:1rem 0;
}

/* Styling for the container that holds the icons within the content of the about section */
.about .about-box .content .icons-container{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    padding-top: 3rem;
}

/* Styling for the individual icon boxes within the icon container of the about section */
.about .about-box .content .icons-container .icons{
    flex:1 1 15rem;
    padding:1.5rem;
    text-align: center;
    border:var(--border);
    border-radius: var(--border-radius);
}

/* Styling for the icon images within the icon container of the about section */
.about .about-box .content .icons-container .icons img{
    height: 5rem;
}

/* Styling for the icon titles within the icon container of the about section */
.about .about-box .content .icons-container .icons h3{
    font-size: 1.7rem;
    padding-top: 1rem;
    color:var(--main-color);
}


/*---------------------------------TEAMS SECTION STYLING-----------------------------------------*/

/* This styles the team conatiner */
.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
    padding: 2.5rem 0;
}

/* This styles the team box */
.team .container .team-box {
    width: auto;
    cursor: pointer;
}

/* This styles the team box images */
.team .container .team-box .team-img {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 1rem;
    transition: all linear 0.5s;
}
.team .container .team-box .team-img img {
    width: 100%;
}
.team .container .team-box .team-img:hover img {
    transform: scale(1.1);
}

/* This styles the team box image hover */ 
.team .container .team-box .team-img:hover {
    box-shadow: 0px 0px 10px 0px var(--main-color);
}

.team .container .team-box .team-content {
    box-shadow: 3px 3px 10px rgba(179, 179, 179, 0.2);
    text-align: center;
    width: 80%;
    position: relative;
    top: -10%;
    z-index: 2;
    background: #e4bc84;
    left: 10%;
    border-radius: 0.8rem;
}
.team .container .team-box .team-content h3 {
    font-size: 2rem;
    color: black;
    padding: 1.2rem 0;

}
.team .container .team-box .team-content p {
    font-size: 1.5rem;
    padding: 1.2rem 0;
}
.team .container .team-box .team-content .social a {
    display: inline-block;
    margin: 0.7rem;
    width: 4rem;
    height: 4rem;
    background: var(--main-color);
    color: white;
    line-height: 4rem;
    font-size: 1.5rem;
}
.team .container .team-box .team-content .social a:hover {
    border-radius: 100%;
}
.team .container .team-box:hover .team-content {
    transform: translateY(-1rem);
}



/*---------------------------------REVIEWS PAGE STYLING-----------------------------------------*/


/* Styling for the review */
.review{
    padding-top: 12rem;
}

/* Styling for the review section */
.review .review-container{
    padding:7rem 0;
    width: 80%;
    margin-left: 10%;
}

/* Styling for the gallery section boxes */
.review .review-container .review-box{
    border:var(--border);
    border-radius: var(--border-radius);
    text-align: center;
    position: relative;
    z-index: 0;
    padding:2rem;
}

/* Styling for the gallery section boxes hover */
.review .review-container .review-box:hover{
    border:var(--border-hover);
    border-radius: var(--border-radius-hover);
}

/* Styling for the gallery section boxes left qoute icons*/
.review .review-container .review-box .fa-quote-left{
    position: absolute;
    top:2rem; left: 2.5rem;
    font-size: 6rem;
    color:var(--main-color);
    z-index: -1;
}

/* Styling for the gallery section boxes right qoute icons*/
.review .review-container .review-box .fa-quote-right{
    position: absolute;
    bottom:2rem; right: 2.5rem;
    font-size: 6rem;
    color:var(--main-color);
    z-index: -1;
}

/* Styling for the gallery section boxes images*/
.review .review-container .review-box img{
    height:7rem;
    width:7rem;
    border-radius: 50%;
    margin-bottom: .7rem;
}

/* Styling for the gallery section boxes stars div*/
.review .review-container .review-box .stars{
    padding:.5rem 0;
}

/* Styling for the gallery section boxes stars icons*/
.review .review-container .review-box .stars i{
    font-size: 1.7rem;
    color:var(--main-color);
}

/* Styling for the gallery section boxes paragraph*/
.review .review-container .review-box p{
    font-size: 1.6rem;
    color:var(--main-color);
    padding:1rem 0;
    line-height: 1.8;
}

/* Styling for the gallery section boxes heading*/
.review .review-container .review-box h3{
    font-size: 2.2rem;
    color:var(--main-color);
    line-height: 1.8;
}

/* Styling for the gallery section boxes span*/
.review .review-container .review-box span{
    font-size: 1.5rem;
    color:var(--main-color);
}


/*---------------------------------STORES PAGE STYLING-----------------------------------------*/


/* Styling for the store */
.stores{
    padding-top: 12rem;
}

/* Styling for the store section */
.stores .store-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 2rem;
    padding: 2.5rem 0;
}

/* Styling for the store section boxes */
.stores .store-container .store-box {
    border: 0.2rem solid var(--bg);
    border-radius: 10px;
    height: auto;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px grey;
    transition: 0.4s linear all;
}

/* Styling for the store section boxes hover */
.stores .store-container .store-box:hover {
    transform: translate(0px, -5px);
}

/* Styling for the store section boxes images div */
.stores .store-container .store-box .stores-img {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

/* Styling for the store section boxes images */
.stores .store-container .store-box .stores-img img {
    width: 100%;
    height: auto;
}

/* Styling for the store section boxes content */
.stores .store-container .store-box .stores-content {
    padding: 2rem;
}

/* Styling for the store section content heading h3 */
.stores .store-container .store-box .stores-content h3 {
    font-size: 1.6rem;
    padding: 1.3rem 0;
    letter-spacing: 0.1rem;
}

/* Styling for the store section boxes content span */
.stores .store-container .store-box .stores-content h3 span {
    color: var(--bg);
}

/* Styling for the store section boxes content heading h1 */
.stores .store-container .store-box .stores-content h1 {
    font-size: 2rem;
    color: var(--black);
    padding-bottom: 2rem;
}

/* Styling for the store section boxes content paragragh */
.stores .store-container .store-box .stores-content p {
    font-size: 1.4rem;
    color: var(--para-font);
}

/* Styling for the store section boxes content images hover */
.stores .store-container .store-box:hover img {
    transform: scale(1.1);
}


/*---------------------------------FOOTER STYLING----------------------------------------------*/


/* This is a CSS code for creating a footer with a box layout */
.footer{
    /* Background image for the footer */
    background:url(./image/bg1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

/* Creates a grid container for the boxes in the footer */
.footer .footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    gap:1.5rem;
}

/* Styling for the heading in the footer box */
.footer .footer-container .footer-box h3{
    font-size: 2.5rem;
    padding:1rem 0;
    color:var(--main-color);
}

/* Styling for the links in the footer box */
.footer .footer-container .footer-box a{
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    padding:1rem 0;
    color:var(--main-color);
}

/* Styling for the links in the footer credit */
.footer .footer-credit{
    text-align: center;
    font-size: 2rem;
    padding:2rem 1rem;
    margin-top: 1rem;
    color:var(--main-color);
}

/* Styling for the links in the footer credit span */
.footer .footer-credit span{
    border-bottom: var(--border-hover); /* adds a border to the bottom of the <span> element */
}



/*----------------------------MEDIA QUERIES FOR RESPONSIVE----------------------------------------------*/



/* media queries for max-width 991px */

@media(max-width:991px){

    html{
        font-size: 55%; /* sets the base font size to 55% of the default size for screens  */
    }

    .header{
        padding:2rem; /* adds padding to the .header class for screens  */
    }

    section{
        padding:2rem; /* adds padding to all <section> elements for screens  */
    }

}

/* media queries for max-width  768px */

@media(max-width:768px){

    .heading{
        font-size: 6rem; /* increases the font size of the .heading class*/
    }

    .heading span{
        font-size: 2.3rem; /* increases the font size of the <span> element inside the .heading class */
    }
    .heading-description{ 
        padding: 1.3rem 0;  /* padding of the .heading-description class*/
    }
    #menu-btn{
        display: initial; /* sets the display property of the element with the ID #menu-btn to "initial" */
    }

    #menu-btn.fa-times{
        transform:rotate(180deg); /* rotates the element with the ID #menu-btn and the class .fa-times. */
    }

    .header .navbar{
        position: absolute; /* sets the position property of the element with the class .navbar  */
        top:99%; left:0; right:0; /* sets the top, left, and right properties of the element with the class .navbar  */
        background:#fff; /* sets the background color of the element with the class .navbar  */
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); /* clips the element with the class .navbar  */
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); /* clips the element  */
    }

    .header .navbar a{
        display: block; /* sets the display property of the <a> elements inside the element  */
        font-size: 2.2rem; /* sets the font size of the <a> elements inside the element  */
        margin:0; /* sets the margin of the <a> elements  */
        padding:1.5rem 2rem; /* sets the padding of the <a> elements inside the element*/
    }
}

/* media queries for max-width 450px */

@media(max-width:450px){

    /* Reduce font size of html element for smaller screens */
html{
    font-size: 50%;
}

/* Adjust image size for smaller screens */
.home .about-box .image img{
    height: auto;
    width: 100%;
}
.heading-description{
    padding: 1.3rem 0; /* padding of the .heading-description class*/
}
}