/*---------------------------------MAIN HOME SECTION STYLING-----------------------------------------*/


/* This styles the main home */
.home{
    min-height: 100vh;
    padding-top: 12rem;
    background: url(./image/bg2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

/* This styles the main home section */
.home .home-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

/* This styles the main home content */
.home .home-container .content{
    flex:1 1 42rem;
}
/* This styles the main home content heading */
.home .home-container .content h3{
    font-size: 6.5rem;
    color:var(--main-color);
    text-transform: uppercase;
}

/* This styles the main home big image */
.home .home-container .big-image{
    flex:1 1 42rem;
    padding-top: 10rem;
    text-align: center;
}
.home .home-container .big-image img{
    height:40rem;
    animation: float 4s linear infinite;
}
@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-7rem);
    }
}

/* This styles main home small image */
.home .small-image{
    text-align: center;
    padding:3rem 0;
}
.home .small-image img{
    height:9rem;
    margin:0 .5rem;
    cursor: pointer;
    margin-top: 5rem;
}
.home .small-image img:hover{
    transform: translateY(-2rem);
}
